@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
  .cursor-newtab {
    cursor: url("/newtab-cursor.png") 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body {
    @apply font-primary text-sm md:text-base;
  }

  .layout-container {
    @apply mx-auto max-w-3xl px-2 pt-20 md:px-1;
  }

  .link-underline {
    color: inherit;
    @apply underline decoration-dotted underline-offset-2 hover:no-underline;
    @apply transition duration-100 ease-out;
    @apply hover:rounded-md hover:bg-primary-200 dark:hover:bg-primary-700;
  }
}

@layer utilities {
  .text-input {
    @apply focus:border-primary-500 focus:outline-none focus:ring-primary-500;
    @apply w-full rounded-md dark:bg-darkpurple-600;
  }
  .select-input {
    @apply focus:border-primary-500 focus:outline-none focus:ring-primary-500;
    @apply rounded-md dark:bg-darkpurple-600 placeholder:dark:text-darkpurple-300;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply h-4 w-4 appearance-none rounded-full bg-darkpurple-300 dark:bg-darkpurple-100;
    @apply shadow-[-405px_0px_0px_400px] shadow-darkpurple-300 dark:shadow-[-405px_0px_0px_400px] dark:shadow-darkpurple-100;
  }
}
